<%- include('../partials/header'); %>

<% if(containsResponse) { %>
  <% if(status === 200) { %>
    <div class="background-success margin-l padding-xs color-white">Success - Your channel has been created</div>
    <table>
      <thead>
        <tr>
          <th scope="col">URL</th>
          <th scope="col">Password</th>
          <th scope="col">Splitter Address</th>
          <th scope="col">Monitor Address</th>
          <th scope="col">Listen Port</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= data.channelUrl %></td>
          <td><%= data.channelPassword %></td>
          <td><%= data.splitterAddress %></td>
          <td><%= data.monitorAddress %></td>
          <td><%= data.listenPort %></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <div class="background-error margin-l padding-xs color-white">Error - Your channel could not be created</div>
  <% } %>
<% } %>

<fieldset class="">
  <legend>Add new channel</legend>
  <form method="POST" action="/add">
    <input type="text" name="channelName" placeholder="Enter channel name">
    <textarea type="textarea" name="channelDescription" placeholder="Enter channel description" rows="7"></textarea>
    <input type="text" name="sourceAddress" id="form-source-address" placeholder="Enter source address" disabled>
    <input type="number" name="sourcePort" id="form-source-port" min="0" max="65535" placeholder="Enter source port number" disabled>
    <input type="number" name="headerSize" min="0" placeholder="Enter header size">
    <div class="field">
      <label class="control checkbox">
          <input type="checkbox" checked="true" value="true" name="isSmartSourceClient"
            onchange="(function () {
                this.state = (this.state === undefined) ? true: !this.state;
                document.getElementById('form-source-address').disabled = !this.state;
                document.getElementById('form-source-port').disabled = !this.state;
            })();"
          >
          <span class="control-indicator"></span>
          <span class="control-label">I am using smart source client</span>
        </label>
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
</fieldset>

<%- include('../partials/footer'); %>
