<%- include('../partials/header'); %>

<% if(status === 200) { %>
  <table>
    <thead>
      <tr>
        <th scope="col">Channel Name</th>
        <th scope="col">Channel Description</th>
        <th scope="col">Splitter Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(channel) { %>
        <tr>
          <td><%= channel.name %></td>
          <td><%= channel.description %></td>
          <td><%= channel.splitterAddress %></td>
          <td>
            <a href="/<%= channel.url %>" class="button button-xs">View</a>
            <a href="/edit?channelUrl=<%= channel.url %>" class="button button-xs">Edit</a>
            <a href="/remove?channelUrl=<%= channel.url %>" class="button button-xs">Delete</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <div class="background-error margin-l padding-xs color-white">Error occurred while processing your request</div>
<% } %>

<%- include('../partials/footer'); %>
